
body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url('/images/so-white.png');
}

.card {
    margin-top: 1em;
}

.card-title {
    margin-bottom: 1em;
}

.card-title img {
    width: 64px;
    height; 64px;
    margin-right: 1em;
}

ul.no-bullets li {
    list-style-type: none;
}

ul.no-bullets li i.fab {
    margin-right: 4px;
}

pre.card-body {
    margin-bottom: 0;
}

